[submodule "project/theme/ananke"]
	path = project/theme/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "project/docs"]
	path = project/docs
	url = git@github.com:Kerzer/Kerzer.github.io.git
	branch = main
